{% extends 'base.html' %}

{% block content %}
{{ block.super}}

<div class="container">
    {% for image in images%}
        <div class="row">
            <div class="col-md-4">
               <a href="{% url 'images' image.id %}"><img src="{{image.image.url}}"></a>
               <h1>{{image.image_name}}</h1>
               <p>{{image.image_description}}</p>
               <p>{{image.location}}</p>
               <p></p>
            </div>
        </div>
    {% endfor %}


</div>

{% endblock %}